#text_style
{
    font-family: 'geosanslightregular';
    fill: #ffffff;
}

#text_style p {
    line-height: 1.1;   
    margin-bottom: 4px; 
    margin-top: 0px; 
    font-size: 17px;
}
#icon_style
{    
    fill: #ffffff;
}